body {
    background: rgb(157, 157, 231);
}

header {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}

section {
    background-color: aliceblue;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding-top: 5px;
    margin: auto;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.685);
}

footer {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: aliceblue;
    font-style: italic;
}

img {
    border-radius: 20px;
    display: block;
    margin: auto;
}

div {
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10px;

}